.about {
  width: 100%;
  height: max-content;
  background: var(--color-bg);
}

.about-header {
  width: 100%;
  padding: clamp(5rem, 10vw, 20rem) 0 clamp(3rem, 5vw, 10rem) 0;
  display: flex;
}

.about-col {
  padding: clamp(0.5rem, 1vw, 1rem);
}

.about-col:nth-child(1) {
  flex: 2;
}

.about-col:nth-child(2) {
  flex: 4;
}

.about-col h2 {
  width: 85%;
  color: rgba(255, 255, 255, 0.125);
  transition: color 0.3s;
  font-size: var(--scale-xl);
  line-height: 1.2;
}

.about-copy {
  width: 50%;
  padding: clamp(3rem, 5vw, 10rem) clamp(0.5rem, 1vw, 1rem) clamp(2rem, 3vw, 5rem) clamp(0.5rem, 1vw, 1rem);
  text-transform: uppercase;
  font-size: var(--scale-md);
  line-height: 1.5;
}

@media (max-width: 900px) {
  .about-copy {
    width: 100%;
  }

  .about-header {
    padding: clamp(3rem, 5vw, 5rem) 0;
    flex-direction: column;
  }

  .about-col h2 {
    width: 100%;
    font-size: var(--scale-lg);
  }

  .about-copy {
    padding: 5em 1em 10em 1em;
  }
}
